@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: #0D1117;
  font-family: 'Lato', sans-serif;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: red; */
  width: 50%;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number-display {
  font-size: 33px;
  font-weight: bold;
  color: #F0F6FC;
  text-align: center;
}
.buttons-container {
  display: flex;
}
.button {
  width: 90px;
  height: 80px;
  background: #238636;
  font-size: 35px;
  border: 1px solid #F0F6FC;
  border-radius: 3px;
  cursor: pointer;
}
.button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #f6e58d;
  color: #000;
  transition: all .1s ease 0s;
  box-shadow: 0 10px #f9ca24;
}
.button:before{
  content: '\f04c';
  color: #000;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 1.5rem;
  opacity: 0;
  transition: all .1s ease 0s;
}
.button:active {
  box-shadow: 0 5px #f0932b;
  transform: translateY(5px);
}
#button-decrease{

}
#button-increase{

}
